# Ignore the data files
Data/*

# Ignore Figures folder (do not require all figures to be backed up)
Figures/*
# But do NOT ignore Example_Figures/ subfolder
!Figures/Example_Figures/
# Also, don't ignore the contents inside that folder
!Figures/Example_Figures/**


# Ignore these test notebooks where I am trying out scripts
Test_Nb*



# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/